@import "tailwindcss";
@font-face {
  font-family: 'Neue Machina';
  src: url(../public/NeueMachina-Regular_DQCmjH1st.ttf);
  font-weight: normal;
  font-style: normal;

}
*{
  font-family: 'Neue Machina';
}
body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
@import "tailwindcss";

/* @theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
} */


@keyframes border-glow-translate {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(100%); }
}

@keyframes border-glow-scale {
    0%, 100% { transform: scale(1) translateX(0); }
    50% { transform: scale(1.2) translateX(100%); }
}

@keyframes star-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes star-shine {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% { opacity: 0; }
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

[data-scroll-container] {
  min-height: 100vh;
}
